body {
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRMcPgVc78FtCCADyx0ia36s20TL4v_5benQw&usqp=CAU.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF3333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

li a:hover:not(.active) {
    background-color: #A9A9A9;
}

.active {
    background-color: #66B2FF;
}

.para1 {
    text-align: right;
    color:red;
}

table, td, th {
border: 1px solid black;
border-collapse: collapse;
width: 100%;
}